.slider-arrow {
    position: relative;
    display: inline-flex;
    z-index: 10;

    &-item {
        cursor: pointer;

        svg {
            fill: #2b374a;
            opacity: .7;
            transition: .5s;
        }
        
        &--prev {
            margin-right: 10px;
        }

        &:hover {

            svg {
                opacity: 1;
            }
        }
    }
}
